{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": "3.3" }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      { "corejs": 3,
        "version": "^7.16.8"
      }
    ]
  ]
}
