@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "./progress-bar";
@import "./toasts";

$header-height: 120px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: #323a44;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: 100%;
  height: calc(100% -  #{$header-height});
  position: relative;
}

.drop {
  width: 96%;
  height: 96%;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.drop .cont {
  width: 500px;
  height: 170px;
  color: #8E99A5;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}

.drop .cont .tit {
  font-size: 400%;
  text-transform: uppercase;
}

.drop .cont .desc {
  color: #A4AEBB;
}

.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #3023AE;
}

.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app {
  &__header {
    background: linear-gradient(
        135deg,
        #1b1253, #673a74
    );
    color: #fff;
    height: $header-height;
    padding: 10px;

    &__logo {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__title {
    display: inline-block;
    margin: 0 0 0 10px;
    text-transform: uppercase;
  }

  &__description {
    font-style: italic;
  }
}
