@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.app {
  &__title {
    color: #C21F39;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 400;
  background: white;
  color: #323a44;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.drop {
  width: 96%;
  height: 96%;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.drop .cont {
  width: 500px;
  height: 170px;
  color: #8E99A5;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}

.drop .cont .tit {
  font-size: 400%;
  text-transform: uppercase;
}

.drop .cont .desc {
  color: #A4AEBB;
}

.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}

.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}
